﻿@{
    ViewBag.Title = "Contact";
}
<h2>Контакти</h2>
<h3>На цій сторінці знаходяться контакти</h3>

<address>
    Кошелєв Микита Павлович<br />
    <abbr title="Phone">P:</abbr>
    +380637920241 <br/>
    <abbr title="Email">E:</abbr>
    nikosh1947@gmail.com
</address>