﻿@{
    ViewBag.Title = "Create";
}

@model ToDoList.Models.ListItem

<h2>Створення нового запису</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <table class="table">
            <tr>
                <td><p>@Html.LabelFor(m => Model.Name)</p></td>
                <td><p>@Html.EditorFor(m => Model.Name)</p></td>
                <td><p>@Html.ValidationMessageFor(m => Model.Name)</p></td>
            </tr>
            <tr>
                <td><p>@Html.LabelFor(m => Model.Date)</p></td>
                <td><p>@Html.EditorFor(m => Model.Date)</p></td>
                <td><p>@Html.ValidationMessageFor(m => Model.Date)</p></td>
            </tr>
            <tr>
                <td><p>@Html.LabelFor(m => Model.Description)</p></td>
                <td><p>@Html.EditorFor(m => Model.Description)</p></td>
                <td><p>@Html.ValidationMessageFor(m => Model.Description)</p></td>
            </tr>
        </table>
        <p><input type="submit" value="Створити" /></p>
    }
</div>

<div>
    @Html.ActionLink("Назад", "Index")
</div>