﻿@{
    ViewBag.Title = "Delete";
}

@model ToDoList.Models.ListItem

<h2>Видалення існуючого запису</h2>

<div>
    <h4>Note @Html.DisplayFor(m => Model.Name)</h4>
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(m => Model.Name)</td>
            <td>@Html.DisplayFor(m => Model.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => Model.Date)</td>
            <td>@Html.DisplayFor(m => Model.Date)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => Model.Description)</td>
            <td>@Html.DisplayFor(m => Model.Description)</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div>
            <input type="submit" value="Видалити"/>
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>