﻿@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<ToDoList.Models.ListItem>

<div class="jumbotron">
    <h2>Список задач</h2>
</div>
<p>@Html.ActionLink("Створити новий запис", "Create")</p>
<table class="table">
    <tr>
        <th>Назва</th>
        <th>Дата виконання</th>
        <th>Опис</th>
        <th></th>
        <th>Виконано</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="@(item.IsDone == true ? "success" : "danger")">
            <td><p>@Html.DisplayFor(m => item.Name)</p></td>
            <td><p>@Html.DisplayFor(m => item.Date)</p></td>
            <td><p>@Html.DisplayFor(m => item.Description)</p></td>
            <td>
                @Html.ActionLink("Змінити", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
            </td>
            <td><input id="@item.Id" class="checkbox" type="checkbox" value="@item.IsDone" checked="@item.IsDone" /></td>
        </tr>
    }
</table>

<script>
    document.querySelector('table').addEventListener('click', function (event) {
        if (event.target.classList.contains('checkbox')) {
            return location.href = `/Home/Check?id=${event.target.id}`
        }
    })
</script>